.header{
    background-color: #131921;
    height: 70px;
    width: 100%;
    display: flex;
}
.img_logo{
    width: 100px;
    margin: 20px;
}
.center_nav{
    flex-basis: 78%;
    display: flex;
    margin: 15px 0;

}
.search_bar{
    width: 90%;
    height: 35px;
    border: none;
    padding: 0;
}
.search_button {
    height: 35px;
    width: 50px;
    background-color: #cd9042;
    flex-wrap: nowrap; /* Default value */

    padding: 0;
    border: none;
}
.right_nav{
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;

}
.header_link{
    color: white;
    text-decoration: none;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin:auto 5px;
}
.option_line1{
    font-size: 10px;
}
.option_line2{
    font-size: 13px;
    font-weight: 800;
}
.header_optionBasket{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.header_basketCount{
    margin: 5px 10px;
}